* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 20px;
    padding: 30px 0 40px 0;
    font-size: 1.8rem;
    border-bottom: #d3d3d3 1px solid;
}

header nav a {
    color: #8d8d8d;
    text-decoration: none;
    padding-right: 20px;
}
header h1 {
    color: #494949;
    padding-left: 20px;
    font-size: 1.8rem;
}

main {
    margin: 0 40px;
    padding-top: 20px;
}

main > p {
    font-size: 1.6rem;
    color: #c0c0c0;
    padding-bottom: 20px;
}

main p > span {
    color: #656565;
}

main .main_article {
    display: grid;
    grid-template-columns: 55% 45%;
}

main .main_article--images {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

main .main_article--images .sub-images {
    padding-top: 20px;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-between;
}
.image-big {
    width: 100%;
    height: 400px;
    background-image: url(./assets/product3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image-small {
    width: 30%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image-one {
    background-image: url(./assets/product1.jpeg);
    
}

.image-two {
    background-image: url(./assets/product2.jpeg);
}

.image-three {
    background-image: url(./assets/product3.jpeg);
}

main .main_article--description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

main .main_article--description h2 {
    font-size: 4rem;
    font-weight: 400;
    color: #333333;
    padding-bottom: 30px;
}
main .main_article--description h2 + h2{
    font-size: 3.6rem;
    width: 100%;
    border-bottom: 1px solid #e4dede;
    margin-bottom: 30px;
}

main .main_article--description p {
    font-size: 1.8rem;
    color: #82817e;
    padding-bottom: 20px;
}

main .main_article--description .button-buy {
    width: 200px;
    font-size: 2rem;
    background-color: #3e3e3f;
    color: white;
    padding: 15px 30px;
    margin-top: 20px;
}